<html>
	<h1>
		{{ .title }}
	</h1>
  <p>
  {{ if .signedIn }}
    Hello {{ .username }}!
    <a href="/signout">Sign Out</a>
  {{ else }}
    Sign in to access the secret area!
    <a href="/signin">Sign In</a>
  {{ end }}
  </p>
</html>
